@page "/"
@using MauiKassasystem.Datenbank
<div class="wrapper">
    <div class="topbar">
        <div class="logo-wrapper">
            <a href="#"><img src="drawable/Logo_BBRZ.png" alt="BBRZ" height="50" /></a>
        </div>
        <h1 class="pagename">Kassasystem</h1>
        <div class="topbar-btn-wrapper">
            <a class="button dark-box" href="/email-capture">
                <img src="drawable/kassasturz_48.png" />
                <span class="button-text">TAGESABSCHLUSS</span>
            </a>
            <a class="button dark-box" href="/email-capture">
                <span class="button-text">STORNO</span>
            </a>
            <a class="button dark-box" href="/login-admin">
                <img src="drawable/admin_login.png" />
                <span class="button-text">ADMIN</span>
            </a>
        </div>
    </div>
    <div class="main">
        <div class="main-wrapper">
            <div class="beschreibung-box">
                <div>Kategorie</div>
                <div>Produkt</div>
                <div>Bestellung</div>
            </div>
            <div class="mp-column kategorie-box">
                @if (FakeDatabase.categorieList != null && FakeDatabase.categorieList.Count > 0)
                {
                    <div class="kategorie-wrapper">
                        @foreach (var kategorie in FakeDatabase.categorieList)
                        {
                            <div class="kategorie" @onclick="() => ShowId(kategorie.Id)">
                                <img src="@kategorie.KategorieBild">
                                <div>@kategorie.KategorieName</div>
                            </div>
                        }
                    </div>
                }
            </div>
            <div class="mp-column produkt-box">

                @if (curentCategory > 0)
                {
                    <div class="produkt-wrapper">
                        @foreach (var product in FakeDatabase.productList)
                        {
                            if (product.KategorieId == curentCategory)
                            {
                                <div class="produkt" @onclick="()=>FakeDatabase.AddProduktToOrderList(product)">
                                    <img src="@product.ProduktBild">
                                    <div class="produkt-name">@product.ProduktName</div>
                                    <div class="produkt-preis">€ @product.ProduktPreis</div>
                                </div>
                            }

                        }
                    </div>
                }


            </div>
            <div class="order-display light-box">
                <div class="dark-box">


                    @if (FakeDatabase.orderList.Count > 0)
                    {
                        @foreach (var product in FakeDatabase.orderList)
                        {
                            <div class="order-line">
                                <span>@product.Value.ToString()x</span>
                                <span>@product.Key.ProduktName</span>
                                <span>€ @(product.Key.ProduktPreis * product.Value)</span>
                                <div class="minus-button" style="cursor:pointer" @onclick="()=>FakeDatabase.RemoveProduct(product.Key)">-</div>
                                <div class="add-button" style="cursor:pointer" @onclick="()=>FakeDatabase.AddProduktToOrderList(product.Key)">+</div>
                            </div>
                        }
                    }

                </div>
                <div class="summ">
                    <span class="text">Summe:</span>
                    <span class="to-pay">€ @FakeDatabase.summ.ToString("0.00")</span>
                </div>
            </div>
            <div class="buttons-box">

                <a href="/bezahlungs-page" class="button dark-box @(FakeDatabase.orderList.Count < 1?"button-muted":"")">
                    <img src="drawable/euro_64.png" />
                    <span class="button-text">WECHSELGELD</span>

                </a>
                <a href="#" class="button dark-box @(FakeDatabase.orderList.Count < 1?"button-muted":"")">
                    <img src="drawable/order_32.png" />
                    <span class="button-text">ABSCHLUSS</span>
                </a>
            </div>
        </div>
    </div>

</div>

@code {
    private void ShowId(int id)
    {
        curentCategory = id;
    }

    private int curentCategory = 0;

}