@page "/produkt-bearbeiten"
@*@page "/produkt-bearbeiten/{id}"*@
@inject DatabaseContext dbContext;

<div class="admin-wrapper">

	<div class="topbar">
		<div class="logo-wrapper">
			<a href="#"><img src="drawable/Logo_BBRZ.png" alt="BBRZ" height="50" /></a>
		</div>
		<h1 class="pagename">Produkt bearbeiten</h1>
		<div class="topbar-btn-wrapper">
			<a class="button-primary logout-btn" href="/"><span>ZURÜCK</span></a>
		</div>
	</div>


    <div class="admin-form-wrapper">
		<div class="dark-box admin-form-box">
			<form>
			
				<p>
					<label>Produkt wählen:</label>
					<select @bind="@_prodId">
						<option hidden checked></option>
						@foreach (var item in products)
						{
							<option value="@item.Id" onchange="@UpdateCat(); @UpdatePic(); @UpdatePrice(); ">@item.ProduktName</option>
						}
					</select>
					<input placeholder="Neuer Produktname" @bind-value="product.ProduktName" style="margin-left: 70px;" />
				</p>

			
				<p><label>Kategorie:</label><input value="@_catName" disabled="disabled" /> @*<input placeholder="Neue Kategorie" @bind-value="product.KategorieId" style="margin-left: 70px;" />*@

					<select @bind="product.KategorieId" style="margin-left: 70px;">
						<option hidden checked>Neue Kategorie</option>
						@foreach (var item in kategories)
						{
							<option value="@item.Id">@item.KategorieName</option>
						}
					</select>
				</p>

				<p>
					<label>Bild:</label>
					@if (_catPic != null)
					{
						<img height="32" src="@_catPic"/>
					}
					
					<select @bind="product.ProduktBild" style="margin-left: 215px;">
						@foreach (var item in pictures)
						{
							<option value="@item.Value"><p> @item.Key </p></option>
							
							
						}
					</select>
					
					<img height="32" src="@product.ProduktBild" />
					

				</p>
				<p><label>Preis:</label><input type="text" value="@_prodPrice" disabled="disabled" />&euro; <input type="text" placeholder="Neuer Preis" @bind-value="product.ProduktPreis" style="margin-left: 70px;" />&euro;</p>
				

				<p class="right-align"><input type="submit" class="admin-form-btn btn-inactive" value="Senden" @onclick="UpdateProduct"/>&nbsp;<input type="submit" class="admin-form-btn" value="Abbrechen" style="margin-right:40px;"/></p>
			</form>

		</div>
	</div>	
</div>

@code {

	Dictionary<string, string> pictures = new();


	List<Produkt> products = new();

	List<Kategorie> kategories = new();

	Produkt product = new();

	int _prodId;

	int _catId;

	string _catName;

	string _prodPrice;

	string _catPic;

	protected override async Task OnInitializedAsync()
	{
		pictures.Add("Infused", "drawable/kalt_infused.png");
		pictures.Add("Mineral", "drawable/kalt_mineral.png");
		pictures.Add("Saft", "drawable/kalt_saft.png");
		pictures.Add("Shake", "drawable/kalt_shake.png");
		pictures.Add("Smoothie", "drawable/kalt_smoothie.png");
		pictures.Add("Obst", "drawable/snack_obst.png");
		pictures.Add("Sandwich", "drawable/snack_sandwich.png");
		pictures.Add("Kuchen", "drawable/sonst_kuchen.png");
		pictures.Add("Trinken", "drawable/sonst_trinken.png");
		pictures.Add("Kaffe", "drawable/warm_kaffee.png");
		pictures.Add("Milch", "drawable/warm_milch.png");
		pictures.Add("Tee", "drawable/warm_tee.png");
		kategories = await dbContext.AllCategoriesToListAsync();
		products = await dbContext.AllProductsToListAsync();
	}

	protected async Task UpdateProduct()
	{
		product.Id = _prodId;
		await dbContext.UpdateProductAsync(product);
	}
}

@functions
{
	public string UpdatePrice()
	{
		foreach (var item in products)
		{
			if (item.Id.Equals(_prodId))
			{
				return _prodPrice = item.ProduktPreis.ToString("0.00");
			}

		}
		return null;
	}

	public string UpdatePic()
	{
		foreach (var item in products)
		{
			if (item.Id.Equals(_prodId))
			{
				return _catPic = item.ProduktBild;
			}

		}
		return null;
	}

	public string UpdateCat()
	{
		foreach (var item in products)
		{
			if (_prodId.Equals(item.Id))
			{
				_catId = item.KategorieId;
				switch (_catId.ToString())
				{
					case "1":
						_catName = "Warm";
						break;
					case "2":
						_catName = "Kalt";
						break;
					case "3":
						_catName = "Snack";
						break;
					case "4":
						_catName = "Sonstiges";
						break;
				}
				return _catName;
			}
		}
		return null;
	}
}
