@page "/wechselgeld-page"




<div class="wrapper">
    <div class="topbar">
        <div class="logo-wrapper">
            <a href="#"><img src="drawable/Logo_BBRZ.png" alt="BBRZ" height="50" /></a>
        </div>
        <h1 class="pagename">Wechselgeld</h1>
        <div class="topbar-btn-wrapper">
            <Button Href="/"
                    Icon="icon-cross"
                    Name="ABBRECHEN" 
                    OnClickAction="moneyServices.Cancel" />
        </div>
    </div>
    <div class="main">
        <div class="main-wrapper">
            <div class="money-display light-box">
                @if (dbServices.recivedMoney - dbServices.summ == 0)
                {
                    <p class="message">Der gegebene Betrag stimmt <br /> mit der Summe überein!</p>
                    <img class="gif" src="drawable/thumbs_up_animated.gif"/>
                    <p class="instruction">Bestellund mittlels 'Abschluss'- Button <br>abschließen!</p>

                }
                @foreach (var nominal in moneyServices.moneyList)
                {
                    <div class="cent1 money-cell @(nominal.Counter <= 0 ? "hidden":"")">
                        <img src="@nominal.ImageUrl" alt="@nominal.ImageUrl" style="height:@(nominal.PictureHeight > 0.00? nominal.PictureHeight : 100)%">

                        <div class="money-quantity ">@nominal.Counter X</div>
                    </div>
                }
            </div>
            <div class="order-display light-box">
                <div class="dark-box">
                    @if (dbServices.orderList.Count > 0)
                    {
                        @foreach (var product in dbServices.orderList)
                        {
                            <div class="order-line">
                                <span>@product.Value.ToString()x</span>
                                <span>@product.Key.ProduktName</span>
                                <span>€ @(product.Key.ProduktPreis * product.Value)</span>
                            </div>
                        }
                    }

                </div>
                <div class="summ">
                    <span>Summe:</span>
                    <span>€ @dbServices.summ.ToString("0.00")</span>
                </div>
                <div class="summ">
                    <span>Erhalten:</span>
                    <span>€ @dbServices.recivedMoney.ToString("0.00")</span>
                </div>
            </div>
            <div class="info-display light-box">
                <span>Wechselgeld:</span>
                <span>€ @(dbServices.recivedMoney - dbServices.summ)</span>
            </div>
            <div class="buttons-box light-box">
                <Button Href="/abschluss-page"
                        Icon="icon-checkmark"
                        Name="ABSCHLUSS"
                        Class="double-button"
                        OnClickAction="@moneyServices.Cancel" />
            </div>
        </div>

    </div>

</div>



@code {
    decimal exchangeMoney = dbServices.recivedMoney - dbServices.summ;


    protected override void OnInitialized()
    {
        foreach (var money in moneyServices.moneyList)
        {
            money.Counter = 0;
        }


        for (int i = moneyServices.moneyList.Count - 1; i >= 0; i--)
        {
            while (exchangeMoney >= moneyServices.moneyList[i].Nominal)
            {
                exchangeMoney = exchangeMoney - moneyServices.moneyList[i].Nominal;
                moneyServices.moneyList[i].Counter += 1;
            }
        }




    }

 


}
